* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #272044;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/background-bogota.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  /* height: 50vh; */
  padding: 200px 0;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background: white;
  color: #272044;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5px;
  letter-spacing: 3px;
  margin-top: 32px;
  padding: 20px 32px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background: white;
}

main h2 {
  color: #272044;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  opacity: 0.3;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main ul {
  padding: 0;
}

main li {
  list-style: none;
  color: #272044;
  font-size: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

main p {
  color: #272044;
  font-size: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 30px;
}

.facts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #272044;
  color: #f8f8f8;
  padding: 50px;
}

.card {
  background: white;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 20px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.secondary {
  background: #f8f8f8;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.text-center {
  text-align: center;
}

.button {
  background: #272044;
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21xp;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(rgb(39, 32, 68, 0.8), rgba(39, 32, 68, 0.8)),
    url("../images/pexels-danilo-arenas-13263075.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

footer .grid {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  opacity: 0.8;
  padding: 0px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #c5b8f6;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

@media (max-width: 992px) {
  header {
    padding: 60px 0;
  }

  heading h1 {
    font-size: 48px;
  }

  heading h2 {
    font-size: 20px;
  }

  heading h3 {
    font-size: 12px;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .grid-3-columns {
    grid-template-columns: 1fr;
  }
}
